*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
 /* background: url("/images/MicrosoftTeams-image\ \(2\).png");
  background-color: #039c5d;
  background-color: rgba(221, 200, 141, 0.2);*/
}
a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}
.flex-div{
  display: flex;
  align-items: center;
}
/*nav{
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-right img{
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon{
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
  }
  .nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
  }
  .nav-left .logo{
    width: 130px;
   }
   .nav-middle .mic-icon{
    width: 16px;
   }
   .nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
   }
   .nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
   }
   .nav-middle .search-box img{
    width: 15px;
  }
*/
/* siazo's nav bar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #22022b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #3E8DA8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
   line-height: 40px; 
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3E8DA8;
}

.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}
  /*------- sidebar -------------*/
  .sidebar{
    /*background: linear-gradient(to right,rgb(170, 116, 36), rgba(240, 145, 145, 0.562), rgb(156, 175, 214), rgb(64, 60, 138));*/
    background: #85325f42;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 100;
    padding-left: 2%;
    padding-top: 100px;
  }
  .shortcut-links a img{
    width: 20px;
    margin-right: 20px;
  }
  .shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: #ffffff;
  }
  .shortcut-links a:first-child{
    color: #ffffff;
  }
  .sidebar hr{
    border: 0;
    height: 1px;
    background: #cccccc00;
    width: 85%;
  }
  .sidebar h3{
    font-size: 13px;
    margin: 20px 0;
    color: #ffffff;
  }
  .subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
  }
  .subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .small-sidebar{
    width: 5%;
  }
  .small-sidebar a p{ 
    display: none;
  }
  .small-sidebar h3{
    display: none;
  }
  .small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
  }
  /*----- main ----*/

  .container1{
    /*background: linear-gradient(to right,rgb(170, 116, 36), rgba(240, 145, 145, 0.562), rgb(156, 175, 214), rgb(64, 60, 138));*/
    background: #85325f42;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .large-container{
    padding-left: 7%;
  }
  .banner{
    width: 100%;
    background-color: rgb(31, 29, 28);
    /*background-image: linear-gradient(to right, rgb(238, 50, 182), rgb(59, 228, 17), rgb(6, 116, 243));*/
    
    background-image: linear-gradient(to right,rgb(170, 116, 36), rgba(240, 145, 145, 0.562), rgb(156, 175, 214), rgb(64, 60, 138));
  } 
  .banner img{
    width: 100%;
    border-radius: 8px;
  }
  .list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
  }
  .vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
  }
  .vid-list  .flex-div{
    align-items: flex-start;
    margin-top: 7px;
  }
  .vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .vid-info{
    color: #5a5a5a;
    font-size: 13px;
  }
  .vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }

  @media (max-width:900px) {
    .menu-icon{
      display: none;
    }
    .sidebar{
      display: none;
    }
    .container, .large-container{
      padding-left: 5%;
      padding-right: 5%;
    }
    .nav-right img{
      display: none;
    }
    .nav-right .user-icon{
      display: block;
      width: 30px;
    }
    .nav-middle .search-box input{
      width: 100px;
    }
    .nav-middle .mic-icon{
      display: none;
    }
    .logo{
      width: 90px;
    }
  }

/*---------------- play video page ---------*/
.play-container{
  padding-left: 2%;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.play-video{
  flex-basis: 69%;
}
.right-sidebar{
  flex-basis: 30%;
}
.play-video video{
  width: 100%;
}
.side-video-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.side-video-list img{
  width: 100%;
}
.side-video-list .small-thumbnail{
  flex-basis: 49%;
}
.side-video-list .vid-info{
flex-basis: 49%;
}
.play-video h3{
  font-weight: 600;
  font-size: 22px;
  padding-top: 1%;
}
.play-video .play-video-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}
.play-video .play-video-info a img{
  width: 20px;
  margin-right: 8px;
}
.play-video .play-video-info a{
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}
.play-video hr{
  border: 0;
  height: 1px;
  background: #22022b;
  margin: 10px 0;
}
.vid-description{
  padding-left: 50px;
  margin: 15px 0;
}
.vid-description p{
  font-size: 14px;
  margin-bottom: 5px;
  color: #22022b;
}
.vid-description h4{
  font-size: 15px;
  color: #5a5a5a;
}
.add-comment{
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.add-comment img{
  width: 35px;
  margin-right: 15px;
}
.add-comment input{
  border: 0;
  outline: 0;
  border-bottom: 1px solid #22022b;
  width: 100%;
  padding-top: 10px;
  background: transparent;
}
.old-comment{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.old-comment img{
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.old-comment h3{
  font-size: 14px;
  margin-bottom: 2px;
}
.old-comment h3 span{
  font-size: 12px;
  color: #555;
  font-weight: 500;
  margin-left: 8px;
}
.old-comment .comment-action{
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}
.old-comment .comment-action img{
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}
.old-comment .comment-action span{
  margin-right: 20px;
  color: #5a5a5a;
}
.old-comment .comment-action a{
  color: #fd1818;
}
@media (max-width:900px){
  .play-video{
    flex-basis: 100%;
  }
  .right-sidebar{
    flex-basis: 100%;
  }
  .play-container{
    padding-left: 5%;
  }
  .vid-description{
    padding-left: 0;
  }
  .play-video .play-video-info a{
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}